*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root{
    --bgColor: #f4f4f4;
    --bgColorOscuro: #333;
    --colorTexto: #fff;
    --colorTextoOscuro: #333;
    --colorBanner: #ff5735;
    --shadow: 0px 0px 10px rgba(0, 0, 0, 4);
    --maxWith: 2000px;
    --borderRadius: 16px;
}

body{
    background-color: var(--bgColor);
    line-break: 1.5;
}

/* HEADER */
header{
    background-color: var(--bgColorOscuro);
    padding: 0.4rem;
}
.contenedor__nav{
    display: flex;
    color: var(--colorTexto);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: var(--maxWith);
}
.nav__title{
    font-size: 2rem;
}
.nav__toogleMobile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    display: none;
}
.nav__lista{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.nav__link{
    text-decoration: none;
    color: var(--colorTexto);
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
    font: 1.2rem;
}
.nav__link:hover{
    transition: .3s ease;
    background-color: #555;
    border-radius: var(--borderRadius);
}

/* MAIN */
main{
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}
.main__banner{
    background-color: var(--colorBanner);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: var(--borderRadius);
    padding: 2rem 1rem 1.2rem;
    box-shadow: var(--shadow);
    color: var(--colorTexto);
}
.banner__title{
    font-size: 2.5rem;
}
.banner__description{
    font-size: 1.5rem;
}
.banner__button{
    background-color: var(--bgColorOscuro);
    color: var(--colorTexto);
    border-radius: var(--borderRadius);
    padding: 0.8rem;
    font-size: 1.1rem;
    border: none;
}
.banner__button:hover{
    background-color: #555;
    cursor: pointer;
}
.caracteristicas__section{
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
}
.caracteristicas__title{
    text-align: center;
    margin-bottom: 1rem;
}
.caracteristicas__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    text-align: center;
    margin-bottom: 6rem;
}
.caracteristicas__Card{
    box-shadow: var(--shadow);
    background-color: #fff;
    border-radius: var(--borderRadius);
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* FOOTER */
footer{
    background-color: var(--bgColorOscuro);
    color: var(--colorTexto);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--maxWith);

}
.footer__description{
    font-size: 1rem;
    text-align: center;
}

/* MEDIAQUERIES */
@media screen and (max-width : 768px) {
    .caracteristicas__container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .nav__lista{
        display: none;
    }
    .nav__toogleMobile{
        display: block;
        cursor: pointer;
    }
}